// out: ../web/css/common.css, compress: false

// Created By Jinex GSX <jinex.gsx@gmail.com>

path-images = "../images/"

@import url('https://fonts.googleapis.com/css?family=Jura|Pacifico|Bad+Script')

transition(attr, duration, delay, func)
    transition: attr duration delay func
    -moz-transition: attr duration delay func
    -webkit-transition: attr duration delay func
    -o-transition: attr duration delay func

body
    background-color #130e1f !important

.wrap
    .masthead.segment
        padding: 10px 0
        min-height: 62px
        position: relative

    .bg
        background-image: url(path-images + "bg.jpeg")
        background-position: center center
        background-size: 100% auto
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1

    .shadow-bg
        background-color: rgba(0,0,0,.6)
        vertical-align: top
        margin-top: -10px
        position: absolute
        width: 100%
        height: 100%
        z-index: 2

    .container-wrap
        position: absolute
        width: 100%
        height: 100%
        z-index: 3
        display: table

    .ui.menu .ui.button
        margin-left: 0.5em
        transition(all, 0.2s, 0s, ease-out)

    .headpage
        margin-top: 20px !important
        margin-bottom: 30px !important
        font-family: 'Jura', sans-serif
        font-weight: 100

    .cards .card
        background-color: #232323 !important
        box-shadow: 0px 0px 5px 0px #000

        &:hover
            box-shadow: 0px 0px 5px 0px rgba(46,204,64,0.5) !important

        .content
            color: white !important

            .header
                font-family: 'Jura', sans-serif
                font-weight: 100
                color: white !important

            .meta, .description
                color: rgba(255, 255, 255, 0.6) !important

            .members, .keys
                margin-right: 10px

    .navbar
        margin: 0 !important

    .main-logo
        padding-top: 15px !important
        transition(all, 0.2s, 0s, ease-out)

        img
            display: inline-block
            margin-top: -4px
            margin-right: 20px
            opacity: 0.5
            transition(opacity, 0.2s, 0s, ease-out)

        .logo-text
            display: inline-block
            font-family: 'Pacifico', sans-serif
            font-weight: 100

        &:hover > img
            opacity: 1


.secondary.pointing.menu .toc.item
    display: none
