@import url("https://fonts.googleapis.com/css?family=Jura|Pacifico|Bad+Script");
body {
  background-color: #130e1f;
}
.table {
  background-color: #232323 !important;
}
.table,
.header,
.content {
  font-family: 'Jura', sans-serif !important;
}
